<a href="https://colab.research.google.com/github/Uberwald/Uberwald/blob/main/5_2_%D0%9D%D0%BE%D1%80%D0%BC%D0%B0%D0%BB%D0%B8%D0%B7%D0%B0%D1%86%D0%B8%D1%8F_%D0%B8_%D1%81%D1%82%D0%B0%D0%BD%D0%B4%D0%B0%D1%80%D1%82%D0%B8%D0%B7%D0%B0%D1%86%D0%B8%D1%8F_%D0%9F%D1%80%D0%B0%D0%BA%D1%82%D0%B8%D0%BA%D0%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 


from sklearn.preprocessing import MinMaxScaler

In [ ]:
#dowload data
url = "https://raw.githubusercontent.com/vega/vega/master/docs/data/seattle-weather.csv"

In [ ]:
#dataset
dataset = pd.read_csv(url)
dataset.head()

         date  precipitation  temp_max  temp_min  wind  weather
0  2012-01-01            0.0      12.8       5.0   4.7  drizzle
1  2012-01-02           10.9      10.6       2.8   4.5     rain
2  2012-01-03            0.8      11.7       7.2   2.3     rain
3  2012-01-04           20.3      12.2       5.6   4.7     rain
4  2012-01-05            1.3       8.9       2.8   6.1     rain

In [ ]:
dataset.describe()

       precipitation     temp_max     temp_min         wind
count    1461.000000  1461.000000  1461.000000  1461.000000
mean        3.029432    16.439083     8.234771     3.241136
std         6.680194     7.349758     5.023004     1.437825
min         0.000000    -1.600000    -7.100000     0.400000
25%         0.000000    10.600000     4.400000     2.200000
50%         0.000000    15.600000     8.300000     3.000000
75%         2.800000    22.200000    12.200000     4.000000
max        55.900000    35.600000    18.300000     9.500000

In [ ]:
#minmax scaler
minmax_scaler = MinMaxScaler()
#Learning MinMaxScaler
dataset_norm = minmax_scaler.fit_transform(np.array(dataset[['precipitation', 'temp_max', 'temp_min', 'wind']]))

In [ ]:
dataset_norm[:1] #Значения возвращаются - это хорошо

array([[0.        , 0.38709677, 0.47637795, 0.47252747]])

In [ ]:
#Вернём названия столбцов (преобразование обратно в датафрейм)
dataset_norm_df = pd.DataFrame(data = dataset_norm, columns = ['precipitation', 'temp_max', 'temp_min', 'wind'])
dataset_norm_df.head()

   precipitation  temp_max  temp_min      wind
0       0.000000  0.387097  0.476378  0.472527
1       0.194991  0.327957  0.389764  0.450549
2       0.014311  0.357527  0.562992  0.208791
3       0.363148  0.370968  0.500000  0.472527
4       0.023256  0.282258  0.389764  0.626374

In [ ]:
dataset_norm_df.describe()

       precipitation     temp_max     temp_min         wind
count    1461.000000  1461.000000  1461.000000  1461.000000
mean        0.054194     0.484922     0.603731     0.312213
std         0.119503     0.197574     0.197756     0.158003
min         0.000000     0.000000     0.000000     0.000000
25%         0.000000     0.327957     0.452756     0.197802
50%         0.000000     0.462366     0.606299     0.285714
75%         0.050089     0.639785     0.759843     0.395604
max         1.000000     1.000000     1.000000     1.000000

#StandartScaler

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
#Scaler
std_scaler = StandardScaler()
dataset_std = std_scaler.fit_transform(np.array(dataset[['precipitation', 'temp_max', 'temp_min', 'wind']]))

In [ ]:
dataset_std[0:1]

array([[-0.45364986, -0.49529914, -0.64421175,  1.01497975]])

In [ ]:
dataset_std_df = pd.DataFrame(data = dataset_std, columns = ['precipitation', 'temp_max', 'temp_min', 'wind'])

In [ ]:
dataset_std_df.describe()

       precipitation      temp_max     temp_min          wind
count   1.461000e+03  1.461000e+03  1461.000000  1.461000e+03
mean    2.674870e-17  9.726800e-18     0.000000 -8.754120e-17
std     1.000342e+00  1.000342e+00     1.000342  1.000342e+00
min    -4.536499e-01 -2.455218e+00    -3.053954 -1.976672e+00
25%    -4.536499e-01 -7.947312e-01    -0.763703 -7.243529e-01
50%    -4.536499e-01 -1.142038e-01     0.012991 -1.677664e-01
75%    -3.435685e-02  7.840924e-01     0.789684  5.279666e-01
max     7.917235e+00  2.607906e+00     2.004513  4.354498e+00